.flash-sale {
  padding: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.flash-sale__title {
  font-size: 3rem;
  color: #f2611c;
  font-weight: bold;
}
.flash-sale__subtitle {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #4e4c4c;
}
.flash-sale__timer {
  justify-content: flex-start;
  gap: 1rem;
}
.flash-sale__timer-value {
  font-size: 1.2rem;
  font-weight: bold;
}
.flash-sale__timer-label {
  font-size: 0.9rem;
  color: #ffffff;
}
.flash-sale__timer-box {
  background-color: #383737;
  border-radius: 8px;
  padding: 1rem;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}